.backBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--visa-blue);
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.backBtn:hover {
  color: var(--visa-yellow);
}
